.logo {
    position: sticky;
    top: 1rem;
    left: 46%;
    background-color: transparent;
}

.logo img {
    width: 8rem;
    height: auto;
    transition: all 0.3s ease-in-out;
    margin-bottom: 1.5rem;
}

.logo img:hover {
    transform: scale(1.1);
}